/* Full bar */
.bar {
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: rgb(10, 9, 11) 0px 4px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left Nav section */
.navLeft {
  height: 100%;
  width: 15%;
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}

.navLeft div.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 6px;
  width: 45px;
  background-color: var(--clr-500);
  border-radius: 13px;
  border: 2px solid var(--clr-700);
  
}

div.logoContainer svg {
  height: 100%;
}

div.logoContainer svg > g > path,
div.logoContainer svg > g > line,
div.logoContainer svg > g > polyline,
div.logoContainer svg > g > rect {
  stroke: #d42a14;
}

.navLeft div.divider {
  height: 60%;
  width:1px;
  border-left: 1px solid var(--clr-600);
  margin-right: 15px;
}

/* Middle Nav section */
.navMid {
  height: 100%;
  width: 28%;
}

.navMid ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-200);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: center;
  font-size: 22px;
}

.navMid ul li {
  display: flex;
  align-items: center;
  margin: 0px 0px;
  height: 100%;
  padding: 0px 0px 0 0px;
}

.navMid ul li:hover {
  color: var(--clr-400);
  transition: all 500ms ease 0s;
  cursor: pointer;
}

.navMid ul li.active {
  color: var(--clr-100);
  border-bottom: 5px solid var(--clr-300);
  font-weight: 600;
}

.navMid ul li.active:hover{
  color: var(--clr-400);
}

/* Right Nav section */
.navRight {
  width: 15%;
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
  padding-right: 25px;
}

.navRight div.leaderBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navRight div.leaderBoardContainer:hover {
  cursor: pointer;
}

.navRight div.leaderBoardIconContainer {
  background-color: var(--clr-300);
  border: 2px solid var(--clr-700);
  border-radius: 100%;
  width:80%
}

.navRight div.leaderBoardIconContainer svg {
  stroke: var(--clr-700);
}

.navRight span.leaderBoardText {
  color: var(--clr-100);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}